@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Khojki:wght@700&display=swap');

.homeContainer{
    background: linear-gradient(0deg, rgba(0, 0, 1, 0.3), rgba(5, 0, 0, 0.3)),url('../public/assests/homepage.jpg');
    height: 450px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%; 
}
.homeContent{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.homeContent h1{
    color: white;
    padding-top: 10%;
    font-family: 'Noto Serif Khojki', serif;
    font-size: 64px;
}
.homeContent h2{
    color: white;
    font-family: 'Noto Serif Khojki', serif;
    font-size: 40px;
    text-decoration: underline;
    margin-top: 30px;
}

.homeContent h6{
    font-size: 20px;
    font-family: 'Noto Serif Khojki', serif;
    color: antiquewhite;
    margin-top: 80px;
}
.homeContent span{
    color: rgb(245, 245, 12);
    cursor: pointer;
    font-size: 28px;
}