@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Khojki:wght@700&display=swap');

.skillsContainer{
    background-image: linear-gradient(to left bottom, #0a0a0a, #101111, #151616, #191b1a, #1e1f1e); 
    padding: 40px;

}
.skillsBody{
    background: transparent!important;
    color: white;
    text-align: center;
}
.skillsContainer h1{
    color: white;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    font-family: 'Noto Serif Khojki', serif;
    letter-spacing: 10px;

}
.skillsBody img{
    width: 120px;
    height: 120px;
    border-radius: 12px;
    border: 4px solid white ;
}